* {
  margin: 0;
  padding: 0; }

body {
  background: ghostwhite;
  color: #00B4CD;
  font-family: 'Josefin Sans', sans-serif; }

nav {
  position: fixed;
  width: 10vw;
  height: 100vh;
  top: 0; }

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: ghostwhite; }

main {
  position: absolute;
  top: 0;
  left: 10vw;
  width: 90vw; }

.icon-ry {
  width: 10vw;
  height: 10vh; }

.text-content {
  color: black;
  margin: 15px;
  padding: 10px; }

#ski {
  position: absolute;
  right: 15vw;
  top: 0vh; }

#kayak {
  position: absolute;
  right: 0vw;
  top: 0vh; }

#tent {
  position: absolute;
  right: 15vw;
  top: 20vh; }

#surf {
  position: absolute;
  right: 0vw;
  top: 20vh; }

.icon-ski {
  height: 35%;
  width: 35%; }

.icon-kayak {
  height: 35%;
  width: 35%; }

.icon-tent {
  height: 35%;
  width: 35%; }

.icon-surf {
  height: 35%;
  width: 35%; }

#concept {
  height: 40vh;
  background-color: ghostwhite;
  font-weight: 900;
  font-size: 1.4em; }

#choice {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 60vh;
  -o-object-fit: cover;
  object-fit: cover; }

.gif {
  position: absolute;
  z-index: -1;
  border: none; }

#action {
  font-weight: 800;
  font-size: 2em;
  color: white; }

#mountain {
  border-bottom: 2px solid grey;
  border-top: 2px solid grey; }

.sea, .mountain, .forest {
  position: absolute;
  z-index: -1;
  height: 100%;
  width: 90vw;
  -o-object-fit: cover;
  object-fit: cover; }

#resume {
  background-color: ghostwhite;
  color: grey;
  font-weight: 800;
  font-size: 1.6em; }

#resume h2 {
  padding: 40px;
  color: black; }

.how {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center; }

.tap {
  color: #00B4CD; }

.select {
  color: grey; }

.travel {
  color: #FF0051; }

.icon-tap, .icon-selection, .icon-traveler {
  heigth: 10vh;
  width: 10vw; }

.icon-forest {
  fill: wheat; }

.icon-wave {
  fill: #00B4CD; }

.icon-mountain {
  fill: #2B395A; }

#test {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  height: 100vh;
  margin: 20px;
  padding: 20px; }

.gear {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 80%;
  width: 45%;
  border: 1px solid #00B4CD; }

.gear img {
  height: 100%;
  width: 100%; }

.map {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 80%;
  width: 45%;
  border: 1px solid #00B4CD; }

.map img {
  height: 100%;
  width: 100%; }

ul a {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  text-decoration: none;
  color: #00B4CD;
  font-size: 1.4em;
  font-weight: 900; }
  ul a.active .wrapper-txt:after {
    -webkit-clip-path: polygon(100% 0, 100% 0%, 100% 100%, 100% 100%);
    clip-path: polygon(100% 0, 100% 0%, 100% 100%, 100% 100%); }

.wrapper-txt {
  position: relative; }
  .wrapper-txt:after {
    position: absolute;
    top: 0;
    left: 0;
    content: attr(data-text);
    color: grey;
    -webkit-clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
    -webkit-transition: -webkit-clip-path 0.6s ease-out;
    transition: -webkit-clip-path 0.6s ease-out;
    -o-transition: clip-path 0.6s ease-out;
    transition: clip-path 0.6s ease-out;
    transition: clip-path 0.6s ease-out, -webkit-clip-path 0.6s ease-out; }

.wrapper-toggle {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 100vh;
  -webkit-transition: height 0.6s;
  -o-transition: height 0.6s;
  transition: height 0.6s; }
  .wrapper-toggle.opened {
    height: 25vh; }

.test {
  display: none;
  color: #FF0051;
  height: 100vh;
  width: 90vw; }

.text {
  opacity: 0; }

.btn {
  position: absolute;
  top: 27vh;
  left: 1vw;
  width: 12vw;
  height: 5vh;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  border: 2px solid #00B4CD;
  border-radius: 0.4em;
  color: #00B4CD;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 0.8em;
  font-weight: 400;
  line-height: 1;
  margin: 15px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700; }
  .btn:hover, .btn:focus {
    color: white;
    outline: 0; }

.fourth {
  border-color: #00B4CD;
  color: #00B4CD;
  background-image: -webkit-linear-gradient(45deg, #00B4CD 50%, transparent 50%);
  background-image: -o-linear-gradient(45deg, #00B4CD 50%, transparent 50%);
  background-image: linear-gradient(45deg, #00B4CD 50%, transparent 50%);
  background-position: 100%;
  background-size: 400%;
  -webkit-transition: background 600ms ease-in-out;
  -o-transition: background 600ms ease-in-out;
  transition: background 600ms ease-in-out; }
  .fourth:hover {
    background-position: 0; }

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 5vh;
  font-weight: 900;
  color: dodgerblue; }

@media screen and (max-width: 980px) {
  main {
    position: absolute;
    top: 0;
    left: 20vw;
    width: 80vw; }
  nav {
    position: fixed;
    width: 20vw;
    height: 100vh;
    top: 0; }
  nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: ghostwhite;
    font-size: 0.4em; }
  .icon-ry {
    width: 20%;
    height: 20%; }
  #concept {
    height: 60vh;
    font-size: 0.6em; }
  #ski {
    position: absolute;
    right: 50vw;
    top: 30vh;
    height: 10vh;
    width: 10vw; }
  #kayak {
    position: absolute;
    right: 25vw;
    top: 30vh;
    height: 10vh;
    width: 10vw; }
  #tent {
    position: absolute;
    right: 50vw;
    top: 40vh;
    height: 10vh;
    width: 10vw; }
  #surf {
    position: absolute;
    right: 25vw;
    top: 40vh;
    height: 10vh;
    width: 10vw; }
  .icon-ski {
    height: 100%;
    width: 100%; }
  .icon-kayak {
    height: 100%;
    width: 100%; }
  .icon-tent {
    height: 100%;
    width: 100%; }
  .icon-surf {
    height: 100%;
    width: 100%; }
  #choice {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 40vh; }
  #action {
    font-weight: 800;
    font-size: 0.8em;
    color: white; }
  .sea, .mountain, .forest {
    position: absolute;
    z-index: -1;
    height: 100%;
    width: 90vw;
    -o-object-fit: cover;
    object-fit: cover; }
  #resume {
    background-color: ghostwhite;
    color: grey;
    font-weight: 800;
    font-size: 0.8em; }
  .how {
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center; }
  .icon-tap, .icon-selection, .icon-traveler {
    heigth: 10vh;
    width: 10vw; }
  #test {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100vh; }
  .gear {
    height: 40%;
    width: 50%;
    border: 1px solid #00B4CD; }
  .gear img {
    height: 100%;
    width: 100%; }
  .map {
    height: 40%;
    width: 50%;
    border: 1px solid #00B4CD; }
  .map img {
    height: 100%;
    width: 100%; }
  ul a {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    text-decoration: none;
    color: #00B4CD;
    font-size: 1.4em;
    font-weight: 900; }
    ul a.active .wrapper-txt:after {
      -webkit-clip-path: polygon(100% 0, 100% 0%, 100% 100%, 100% 100%);
      clip-path: polygon(100% 0, 100% 0%, 100% 100%, 100% 100%); }
  .btn {
    position: absolute;
    top: 52vh;
    left: 20vw;
    width: 25vw;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    border: 2px solid #00B4CD;
    border-radius: 0.6em;
    color: #00B4CD;
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-item-align: center;
    align-self: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-size: 0.6em;
    font-weight: 700;
    line-height: 1;
    margin: 15px;
    padding: 0.6em 1em;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase; }
    .btn:hover, .btn:focus {
      color: white;
      outline: 0; }
  footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 5vh;
    font-weight: 900;
    font-size: 0.6em;
    color: dodgerblue; } }
