@import "variables";

*{
  margin: 0;
  padding: 0;
}

body{
  background: ghostwhite;
  color: $green;
  font-family: 'Josefin Sans', sans-serif;
}

nav{
  position: fixed;
  width: 10vw;
  height: 100vh;
  top: 0;
}

nav ul {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #B2B2B2;
}

main{
  position: absolute;
  top: 0;
  left: 10vw;
  width: 90vw;
}

.text-content{
  color: black;
  margin: 15px;
  padding: 10px;
}

#concept{
  height: 40vh;
  background-color: ghostwhite;
  font-weight: 900;
  font-size: 1.4em;
}

#choice{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
  object-fit: cover;
}

.gif{
  position: absolute;
  z-index: -1;
  border: none;
}

#action{
  font-weight: 800;
  font-size: 2em;
  color: white;
}

#mountain{
  //border-bottom: 2px solid grey;
  //border-top: 2px solid grey;
}

#sea{
  //border-bottom: 2px solid $green;
}
.sea, .mountain, .forest{
  position: absolute;
  z-index: -1;
  height: 100%;
  width: 90vw;
  object-fit: cover;
}


#resume{
  background-color: ghostwhite;
  color: grey;
  font-weight: 800;
  font-size: 1.6em;
}

#resume h2{
  padding: 40px;
  color: black;
}

.how{
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

ul a{
  transform: rotate(90deg);
  text-decoration: none;
  color: $green;
  font-size: 1.4em;
  font-weight: 900;
  //transform-origin: left top 0;
  &.active{
    .wrapper-txt{
        &:after{
           clip-path: polygon(100% 0, 100% 0%, 100% 100%, 100% 100%);
        }
    }
  }
}

.wrapper-txt{
 position: relative;
 &:after{
   position: absolute;
   top: 0;
   left: 0;
     content: attr(data-text);
     color: white;
     clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
     transition: clip-path 0.6s ease-out;
 }
}


.wrapper-toggle{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  transition: height 0.6s;
  &.opened{
      height: 25vh;
  }
}

.text{
  opacity: 0;
}

footer{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5vh;
  font-weight: 900;
  color: dodgerblue;
}
